{% comment %} 继承远程主题的默认布局 {% endcomment %}
{% remote_include https://raw.githubusercontent.com/pages-themes/dinky/v0.2.0/_layouts/default.html %}

{% comment %} 在主题原有布局基础上插入自定义目录 {% endcomment %}
{%- if page.dir != '/' -%}
  {%- assign dir_prefix = page.dir | append: '/' -%}
{%- else -%}
  {%- assign dir_prefix = '/' -%}
{%- endif -%}

{% comment %} 插入目录的代码块 {% endcomment %}
{%- capture directory_tree -%}
  <div class="custom-directory">
    <h2>目录结构</h2>
    {% include directory_tree.html path=page.dir %}
  </div>
{%- endcapture -%}

{% comment %} 将目录插入到主题的 content 区域之后 {% endcomment %}
{%- assign content_with_directory = content | append: directory_tree -%}

{% comment %} 重写 content 变量 {% endcomment %}
{%- assign content = content_with_directory -%}