<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- 修复后的路径导航 -->
        <div class="path-nav">
          {% assign path_segments = page.dir | split: '/' %}
          {% assign accumulated_path = "" %}
          
          <nav class="breadcrumb">
            <a href="/">Home</a>
            {% for segment in path_segments %}
              {% if segment != "" %}
                {% assign accumulated_path = accumulated_path | append: '/' | append: segment %}
                <span class="separator">/</span>
                {% unless forloop.last %}
                  <a href="{{ accumulated_path | append: '/' | relative_url }}">
                    {{ segment | replace: '-', ' ' | capitalize }}
                  </a>
                {% else %}
                  <span class="current-segment">
                    {{ segment | replace: '-', ' ' | capitalize }}
                  </span>
                {% endunless %}
              {% endif %}
            {% endfor %}
          </nav>
        </div>

        <!-- GitHub个人链接 -->
        <div class="profile-link">
          <a href="https://github.com/rouge_3877" target="_blank">
            <svg class="github-icon" viewBox="0 0 16 16" width="16" height="16">
              <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"/>
            </svg>
            <span>GitHub Profile</span>
          </a>
        </div>

        {% if site.show_downloads %}
          <ul>
            <li class="download"><a class="buttons" href="{{ site.github.zip_url }}">ZIP</a></li>
            <li class="download"><a class="buttons" href="{{ site.github.tar_url }}">TAR</a></li>
          </ul>
        {% endif %}
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>